.modal {
    z-index: 9999;
}
.site-nav {
    z-index: 210;
}
.site-header {
    z-index: 200;
}
.site-content {
    z-index: 100;
}
.site-footer {
    z-index: 50;
}
.loading {
    z-index: 100000;
}